.card{
    width: 18rem;
    float: left;
    height: 27rem;
    grid-area: a;
}

.card-img-top{
    max-width: 150px;
    max-height: 150px;
}

.card-title{
    height: 50px;
}
.card-group{
    display: grid;
    /*grid-column-gap: 15px;*/
    /*grid-row-gap: 15px;*/
    /*grid-template-areas:*/
    /* "a a a a a"*/
    /* "a a a a a"*/
    /* "a a a a a";*/
    /*grid-template-columns: 1fr 10fr;*/
}

.nav-section{
    border: 2px solid gray;
    color:black;
    background: lightgray;
}

.flex-column{
    float: left;
}
